@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.swipes {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    transform: translateY(-50%);
    z-index: 1;
}


.kumbhS {
    font-family: 'Kumbh Sans';
    font-weight: 400;
}

.kumbhB {
    font-family: 'kumbh Sans';
    font-weight: 700;
}

.parent {
    overflow: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.imageStyling {
    height: 100%;
    vertical-align: middle;
}

.childDiv{ 
    display: inline-block;
    width: 100%;
    scroll-snap-align: start;
}


.overlay {
    background-color: hsla(0, 0%, 50%, 0.5);

}

.overlayD {
    background-color: hsla(0, 0%, 9%, 0.7);
}

.icon:hover {
    filter: invert(94%) sepia(61%) saturate(1500%) hue-rotate(330deg) brightness(102%) contrast(101%);
}

.link::after {
    content: '';
    height: '2px';
    width: 100%;
    position: absolute;
    display: block;
    top:50px;
    left: 0px;
    bottom: -32px;
    transform: scaleX(0);
    transition: transform 0.3s ease 0s;
    background-color: hsl(26, 100%, 55%);
}



.link:hover::after {
    transform: scaleX(1)
}

